BOT_TOKEN = 8256526472:AAHyvbxwrK1Z8_CcU9p4Odh6y6twjJKEzhc

API_ID = 10565113

DEVELOPPER_ID = 987456321

API_HASH = d2220b87fb12fc430dc8fcebbb03d95c

LOG_BOT_TOKEN = -1002959298376

FIREBASE_URL = filestream-bot.firebasestorage.app

FIREBASE_KEY = AIzaSyBaQJH7jrNamDWYvHXUn7mQQxnbWZOBgAM
