BOT_TOKEN = TOKEN TELEGRAM DU BOT PRINCIPAL

API_ID = VOTRE API ID TELEGRAM

DEVELOPPER_ID = VOTRE ID TELEGRAM

API_HASH = VOTRE API HASH TELEGRAM

LOG_BOT_TOKEN = TOKEN TELEGRAM DU BOT DE LOG

FIREBASE_URL = filestream-bot.firebasestorage.app

FIREBASE_KEY = AIzaSyBaQJH7jrNamDWYvHXUn7mQQxnbWZOBgAM
