BOT_TOKEN = 8256526472:AAHyvbxwrK1Z8_CcU9p4Odh6y6twjJKEzhc

API_ID = VOTRE API ID TELEGRAM

DEVELOPPER_ID = VOTRE ID TELEGRAM

API_HASH = VOTRE API HASH TELEGRAM

LOG_BOT_TOKEN = -1002959298376

FIREBASE_URL = filestream-bot.firebasestorage.app

FIREBASE_KEY = AIzaSyBaQJH7jrNamDWYvHXUn7mQQxnbWZOBgAM
